p { margin:0 }
.carousel-item{
  height: 500px;
  justify-self: center;
} 
.carousel-item img{
  height: 400px;
  width: 150px;
}
.carousel-inner img {
  margin: auto;
}
.carousel {
    justify-content: center;
    height: 400px;
    width: 700px;
}
  /* .300-px-wide {
    width: 300px;
    height:100px;
} */


/* #hp  {
  float: left;    
   margin: 0 15px 0 0;
  } */
.container {
  width: 50%;
  margin: auto;
  text-align: center;
}